
<div class="glass">
  <mat-card *ngIf="loggedIn == 2">
    <h2>Password Reset</h2>
    <br/>
    <p>
      We will send an email for you to reset your password.
      If you do not see it in your inbox, remember to check your spam.
    </p>
    <br />
    <br />
    <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label for="email">Email</mat-label>
          <input matInput type="text" formControlName="email" placeholder="Email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
          </div>
        </mat-form-field>
      </div>
    </form>

    <div id="cancelBtn" class="material-icons" (click)="cancel()">
      cancel
    </div>

    <div class="form-group button-group-center">
      <button (click)="requestPasswordChange()" mat-raised-button color="primary">
        Request Password Reset
      </button>
    </div>
  </mat-card>
  <mat-card *ngIf="loggedIn != 2">
    <h2>Password Reset</h2>
    <br/>
    <p>Please enter in a new password.</p>
    <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label for="password">Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label for="passwordConfirm">Confirm Password</mat-label>
          <input matInput type="password" formControlName="passwordConfirm" placeholder="Password"
            [ngClass]="{ 'is-invalid': submitted && f.passwordConfirm.errors }">
          <div *ngIf="submitted && f.passwordConfirm.errors" class="invalid-feedback">
            <div *ngIf="f.passwordConfirm.errors.required">Confirmed Password is required</div>
          </div>
        </mat-form-field>
      </div>
    </form>

    <div id="cancelBtn" class="material-icons" (click)="cancel()">
      cancel
    </div>

      <div class="form-group button-group-center">
        <button (click)="changePassword()" mat-raised-button color="primary">
          Save Password
        </button>
      </div>
  </mat-card>
</div>
