#landing {
  background-image: url("/assets/loginbk.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
