@media (min-width:320px)  {
  #messenger {
    position: fixed;
    right: 0px;
    bottom: 0px;
    max-height: 40px;
    transition: max-height .3s ease-in-out;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    overflow-y:hidden;
    overflow-x:hidden;
    z-index: 888;

    .glass, .glassSolid{
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      min-height:initial;
    }
  }

  #messenger.active {
    transition: max-height .5s ease-in-out;
    max-height: calc(100% - 150px);
    overflow-y:auto;
    overflow-x: hidden;
  }


  #messengerBtn{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position:fixed;
    bottom:0px;
    width:100%;
    z-index:889;
    right: 0px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    line-height: 35px;
    cursor:pointer;
    background-color: #242424;
    border: none;
    color: #fff;
    letter-spacing: 2px;
  }

  #messengerBtn:hover{
    color:#bbbbbb;
    background-color: #292929;
  }

  .mat-icon-word{
    font-size: 14px;
    direction: initial;
    white-space: unset;
    word-wrap: unset;
    font-family: "Thin_lc" !important;
  }

  li {
    font-family: "Thin_lc" !important;
  }


  .box{

    .list {
      position:relative;
      display:flex;
      padding: 10px 0;
      background: rgba(0,0,0, 0);
      margin:3px 0;
      cursor:pointer;
      transition: 0.5s;
      padding: 8px 20px;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2{

      }
      h4 {
        font-size: 1.2em;
      }
      p {
        font-size: .7em;
      }
    }

    .imgBox {
      overflow:hidden;
      position:relative;
      width:60px;
      height:60px;
      border-radius: 50%;
      margin-right:10px;

      img {
        position:absolute;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        max-width:60px;
      }
    }

    .list:hover {
      background: rgba(64,64,64, .3);
      box-shadow: -15px 30px 50px rgba(0,0,0,0.5);
      z-index:886;
      transform:scale(1.05) translateX(2px);
    }
  }

  .backtoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin-left: -10px;
    margin-right: 10px;
  }

  .chat.hidden {
    opacity:0;
    z-index:-1;
  }
  .chat.show {
    opacity:1;
  }
  .chat.active {
    left:0px;
  }
  .chat {
    position: absolute;
    top: 0;
    left: 100%;
    height: calc(100% - 40px);
    width: 100%;
    background-color: #101010;
    box-shadow: -1px 7px 12px rgba(0,0,0,0.6);
    transition: left .3s ease-in-out;
    z-index:886;

    .currUser .currUserTop {
      position:relative;
      display:flex;
      padding: 10px 0;
      background: rgba(0,0,0, 0);
      cursor:pointer;
      transition: 0.5s;
      padding: 11px 20px;
      border-bottom: 1px solid #3c3c3c;
    }

    .chat-log {
      height: calc(100% - 157px);
      background-color: #1f1f1f;
      position: relative;
      overflow: auto;
      overflow-x: hidden;
      border-bottom: 1px solid #3c3c3c;

      .blurb {
        color:#fff;
        border-radius: 5px;
        box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width:fit-content;
        padding:10px;
        margin: 15px 0;
        position: relative;

        // .body {
        //   word-break: break-all;

        //     a {
        //       word-break: break-all;
        //     }
        // }
        .timestamp {
          font-size:9px;
          margin-top:15px;
          letter-spacing: 1px;
        }
      }

      .sender {
        margin-left:5%;
        margin-right:5%;
        background: linear-gradient(0deg,#004e72 0%,#006bb8 50%,rgb(0, 107, 184) 100%);
      }
      .tri-right.right-in:before{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        inset: 5px auto auto 100%;
        transform: rotateY(180deg);
        border: 8px solid;
        top: 5px;
        border-color: rgb(0, 107, 184) rgb(0, 107, 184) transparent transparent;
      }
      .receiver {
        margin-left:5%;
        margin-right:5%;
        background: linear-gradient(0deg, rgb(0, 100, 3) 0%, rgba(0, 162, 19) 50%, rgba(0, 162, 19) 100%);
      }
      .tri-right.left-in:before{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        inset: 38px auto auto -16px;
        border: 8px solid;
        top: 5px;
        transform: rotateY(0deg);
        border-color: rgb(0, 162, 19) rgb(0, 162, 19) transparent transparent;
      }
      .typing.tri-right.left-in:before, .typing.tri-right.right-in:before{
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.5) transparent transparent!important;
      }
    }

    .chat-input {
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      position: absolute;
      bottom: 0px;
      padding-top: 13px;
      background-color: #101010;
      z-index:889;

      input {
        width:80%;
        height:40px;
      }
      i {
      }
    }
  }
}
@media (min-width:801px)  {  }
@media (min-width:1281px) {
  #messenger {
    position: fixed;
    right: 0px;
    bottom: 0px;
    max-height: 40px;
    transition: max-height .3s ease-in-out;
    width: 320px;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    overflow-y:hidden;
    overflow-x:hidden;
    z-index: 888;

    #messengerBtn{
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      position:fixed;
      bottom:0px;
      width:320px;
      z-index:889;
      right: 0px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      line-height: 35px;
      cursor:pointer;
      background-color: #242424;
      border: none;
      color: #fff;
      letter-spacing: 2px;
    }

    .glass, .glassSolid{
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      min-height:initial;
    }
  }


}

.typing {
  width: fit-content!important;
  padding: 0!important;
  background: rgba(0, 0, 0, 0.5)!important;
}

.msgSubmit {
  cursor: pointer;
  padding: 8px;
  height: fit-content;
  display: flex;
  flex-direction: column;

  i {
    justify-content: center;
  }
}

.chatMsgContainer {
  display: flex;
  flex-direction: row;
  width:100%;
}

.chatMsgContainer:has( > .sender) {
  justify-content: flex-end!important;
}

.chatMsgContainer:has( > .receiver) {
  justify-content: flex-start!important;
}

@keyframes blink { 50% { fill: transparent }}
.dot {
  animation: 1s blink infinite;
  fill: grey;
}
.dot:nth-child(2) { animation-delay: 250ms }
.dot:nth-child(3) { animation-delay: 500ms }

.postedby {
  font-size:8px;
  margin-top: -28px;
}
