#messenger {
  position: fixed;
  right: 0px;
  bottom: 0px;
  max-height: 40px;
  transition: max-height .5s ease-in-out;
  width: 320px;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  overflow-y:hidden;
  z-index: 888;

  .glass, .glassSolid{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    min-height:initial;
  }
}

#messenger.active {
  transition: max-height .5s ease-in-out;
  max-height: calc(100% - 150px);
  overflow-y:auto;
  overflow-x: hidden;
}


#messengerBtn{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position:absolute;
  bottom:0px;
  width:100%;
  z-index:10;
  left: 0px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  line-height: 35px;
  cursor:pointer;
  background-color: #242424;
  border: none;
  color: #fff;
  letter-spacing: 2px;
}

#messengerBtn:hover{
  color:#bbbbbb;
  background-color: #292929;
}

.mat-icon-word{
  font-size: 14px;
  direction: initial;
  white-space: unset;
  word-wrap: unset;
  font-family: "Thin_lc" !important;
}

li {
  font-family: "Thin_lc" !important;
}


.box{

  .list {
    position:relative;
    display:flex;
    padding: 10px 0;
    background: rgba(0,0,0, 0);
    margin:3px 0;
    cursor:pointer;
    transition: 0.5s;
    padding: 8px 20px;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2{

      }
      h4 {
        font-size: 1.2em;
      }
      p {
        font-size: .7em;
      }
    }

    .imgBox {
      overflow:hidden;
      position:relative;
      width:60px;
      height:60px;
      border-radius: 50%;
      margin-right:10px;

      img {
        position:absolute;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        max-width:60px;
      }
    }
  }

  .list:hover {
    background: rgba(64,64,64, .3);
    box-shadow: -15px 30px 50px rgba(0,0,0,0.5);
    z-index:1000;
    transform:scale(1.05) translateX(2px);
  }
}
