

li {
  display:flex;
  flex-direction: row;

  p {
    width:250px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align:right;
    font-size: 14px;
    color: #0000008a;
    margin-right: 15px;
  }

  div {
    width:250px;
  }

}


.box{

  .list {
    position:relative;
    display:flex;
    padding: 10px 0;
    background: rgba(0,0,0, 0);
    margin:3px 0;
    cursor:pointer;
    transition: 0.5s;
    padding: 8px 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2{

    }
    h4 {
      font-size: 1.2em;
    }
    p {
      font-size: .7em;
    }
  }

  .imgBox {
    overflow:hidden;
    position:relative;
    width:60px;
    height:60px;
    border-radius: 50%;
    margin-right:10px;

    img {
      position:absolute;
      top:0px;
      left:0px;
      width:100%;
      height:100%;
      max-width:60px;
    }
  }

  .list:hover {
    background: rgba(64,64,64, .3);
    box-shadow: -15px 30px 50px rgba(0,0,0,0.5);
    z-index:886;
    transform:scale(1.05) translateX(2px);
  }
}

// .content {
//   width:100%;
//   min-height:450px;
//   box-sizing: border-box;
// }

// #contact-form {
//   display: flex;
//   flex-direction: column;
// }

// textarea {
//   min-height: 200px;
// }


// mat-form-field {
//   width:100%;
//   margin-right: 3px;
// }
// .form-box {
//   display:flex;
//   justify-content: flex-start;
//   flex-wrap: wrap;
//   flex-basis: 20%;
//   margin-top:20px;
// }
// .form-box-horizontal {
//   display:flex;
//   justify-content: flex-start;
//   flex-direction: row;

//   mat-checkbox {
//     margin-right:40px;
//   }
// }
// .form-box-vertical {
//   display:flex;
//   flex-direction: column;
//   justify-content: space-between;
//   min-height: 100px;
//   margin-bottom: 10px;
//   line-height: 33px;

//   mat-radio-group {
//     display:flex;
//     justify-content: flex-start;

//     mat-radio-button {
//       margin-right:40px;
//     }
//   }
// }
// .mat-select {
//   margin: 20px 0 ;
//   max-width: 300px;
// }

// .submit {
//   display:flex;
//   justify-content: space-between;
//   width:200px;
// }

// .user-reqs{
//   width:100%;
//   display: block;
// }

// :host ::ng-deep .user-reqs .glass {
//   background:transparent!important;
//   box-shadow: none;
//   -moz-box-shadow: none;
//   -webkit-box-shadow: none;
//   backdrop-filter: none;
//   -moz-backdrop-filter: none;
//   -webkit-backdrop-filter: none;
// }

// table tr {
//   display: flex;
//   flex-direction: column;
//   min-width: 500px;

// }

// td {
//   width:100%;
// }

::ng-deep {

  .mat-dialog-actions {
    justify-content: center;
  }
}
