.main-content {
  max-width: 1000px;
  width:100%;
}

mat-card {
  margin: 0 auto;
  padding:20px;
}

mat-form-field {
  width: 100%;
}

.label-value-img {
  margin: 27px 0;
  margin-top: -54px;
  display: flex;
  justify-content: center;
  margin-bottom: -60px;
  line-height: 24px;
}

.label-value {
  width: calc(100% / 4);
  margin: 8px 0;
  line-height: 24px;
}

.label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.24);
}

#editBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

#editImgBtn {
  position: absolute;
  bottom: -30px;
  left: calc(50% - 10px);
  cursor: pointer;
  color: #fff;
  transition: bottom 1s ease, opacity 1s ease;
}

#cancelBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

#saveBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.profile-pic {
  position:relative;
  margin:0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px #000 solid;
  box-shadow: inset 0px 0px 28px 0px rgba(0, 0, 0, 0.3);
  overflow:hidden;
  cursor:pointer;
  background-color:#000;
  text-align:center;
  margin-bottom:50px;

  img {
    transition: opacity .5s ease-in-out;
    opacity:0.6;
    width: 110%;
    margin-left: -5%;
  }

}
.profile-pic:hover {

  img {
    transition: opacity .5s ease-in-out;
    opacity:1;
  }

  #editImgBtn {
    bottom:9px;
  }
}

.info-block {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 1px solid rgb(214, 214, 214);
  margin-bottom:50px;
}

h3 {
  color: rgb(214, 214, 214);
}


@media only screen and (max-width: 600px) {

}
