
<div class="content mf-theme">
  <h1><strong>{{action}} {{tool}}</strong></h1>
  <br/>

  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" *ngIf="firstFormGroup">
        <ng-template matStepLabel>Find a user</ng-template>

        <div class="step-card">
          <div class="card-half">
            <div class="col-center">
              <!-- <p class="sub-title"><span>Search Users</span></p> -->
              <div>
                <mat-form-field>
                  <input matInput #term placeholder="Search Users" (keyup)="onTyping(term.value)" >
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="card-half">
            <ul>
              <li *ngFor="let u of foundUsers" (click)="selectUser(u)">
                <app-user-card [user]="u" [active]="(selectedUser.id == u.id ? true : false)" ></app-user-card>
              </li>
            </ul>
          </div>
        </div>

        <div class="step-card-actions">
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" *ngIf="secondFormGroup">
        <ng-template matStepLabel>Select a Role</ng-template>

        <div class="step-card">
          <ul class="center">
            <li>
              <p><span>Role(s)</span></p>
              <div>
                <mat-form-field>
                  <mat-chip-list #chipList>
                    <mat-chip *ngFor="let role of bRoles" [selectable]="selectable" [removable]="removable"
                      (removed)="removeRole(role)">
                      {{role.name}}
                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input formControlName="role" matInput placeholder="Vocals, Guitar"
                           [matChipInputFor]="chipList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           [matChipInputAddOnBlur]="addOnBlur"
                           (matChipInputTokenEnd)="addRole($event)"
                           [(ngModel)]="local_data[0]['role']">
                  </mat-chip-list>
                </mat-form-field>
              </div>
            </li>
            <li>
              <p><span>Date Joined</span></p>
              <div>
                <div class="date-row">
                  <select (change)="onChangeYear($event.target.value)">
                    <option *ngFor="let y of years">{{y}}</option>
                  </select>
                  <p>|</p>
                  <select (change)="onChangeMonth($event.target.value)">
                    <option *ngFor="let m of months">{{m}}</option>
                  </select>
                  <p>|</p>
                  <select (change)="onChangeDay($event.target.value)">
                    <option *ngFor="let d of days">{{d}}</option>
                  </select>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="step-card-actions">
          <button mat-raised-button color="accent" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext (click)="updateRoles()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div class="step-card">
        <ul class="center">
          <li>
            <h3 style="text-align: center;">You will be adding this user to this Artist Group.</h3>
          </li>
          <li>
            <div>
              <app-user-card [user]="selectedUser" [active]="true" ></app-user-card>
            </div>
          </li>
          <li>
            <div><h4>Role(s)</h4><br/><p>{{selectedRoles}}</p></div>
          </li>
          <li>
            <div><h4>Date Joined</h4><br/><p>{{selectedDateJoined}}</p></div>
          </li>
        </ul>
      </div>

      <div class="step-card-actions">
        <button mat-raised-button color="accent" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>

  <div mat-dialog-actions>
    <button (click)="doAction()" mat-raised-button color="primary">{{action}}</button>
    <button (click)="closeDialog()" mat-raised-button color="accent">Cancel</button>
  </div>

  <!-- <p><span>Search Users</span></p>
  <div>
    <mat-form-field>
      <input matInput #term (keyup)="onTyping(term.value)">
    </mat-form-field>
  </div>
  <ul *ngFor="let u of foundUsers">
    <li>{{u.username}}</li>
  </ul>


  <form>
    <div *ngIf="action != 'Delete'; else elseTemplate">
      <ul>
        <li *ngFor="let row of displayedColumns">
          <ng-container *ngIf="row != 'active' && row != 'action' && row != 'id' && row != 'date_joined' && row.indexOf('owner') === -1">
            <ng-container
              [ngTemplateOutlet]="row.indexOf('image') === -1 ? normalTemplate : uploaderTemplate"
              [ngTemplateOutletContext]="{ $implicit: row }">
            </ng-container>
          </ng-container>
        </li>
        <li *ngIf="uploaderInstalled">
          <ng-container
              [ngTemplateOutlet]="uploaderTemplate"
              [ngTemplateOutletContext]="{ $implicit: 'title' }">
            </ng-container>
        </li>
      </ul>
    </div>
    <ng-template #elseTemplate>
      Are you sure?
    </ng-template>
    <ng-template #normalTemplate let-row>
      <p><span>{{row | removeUnderscore}}</span></p>
      <div>
        <mat-form-field>
          <input matInput [(ngModel)]="local_data[0][row]">
        </mat-form-field>
      </div>
    </ng-template>
    <ng-template #uploaderTemplate let-row>
      <p><span *ngIf="row != 'title'">{{row | removeUnderscore}}</span></p>
      <div>
        <app-upload-single (fileNew)="updateUploadValue($event)" [field]="row" [file]="local_data[0][row]" [group]="currentGroup"></app-upload-single>
      </div>
    </ng-template>

    <div *ngIf="ownerFound">
      <p style="color:red;">This project exists, you may need an invite from the owner!</p>
      <div class="box">
        <div class="list" *ngFor="let user of userList">
          <div class="imgBox">
            <img *ngIf="user?.profile_image == 'default'; else hasImage" src="./assets/images/defaultprofile1.png"  />
              <ng-template #hasImage>
                <img src="{{ user?.display?.display}}" alt="{{ user?.display?.name}}" />
              </ng-template>
          </div>
          <div class="content">
            <h4>{{user.username}}</h4>
            <p>{{user.email}}</p>
          </div>
        </div>
      </div>
    </div>

    <div mat-dialog-actions>
      <button (click)="doAction()" mat-raised-button color="primary">{{action}}</button>
      <button (click)="closeDialog()" mat-raised-button color="accent">Cancel</button>
    </div>
  </form> -->
</div>
