<div id="newEditForm" class="page">
  <div class="itemBK" [ngStyle]="{
    background:
      'linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4) 100%), url(/assets/images/' +
      (toolName?.split(' ').join('_') | capitalizeWord) +
      '.jpg)'
  }"></div>
  <div class="itemBKGrid"></div>

<div class="glass">
  <div class="goback page-top-cta">
    <button [routerLink]="['/projects', groupId, group]" id="goBack" mat-raised-button color="accent">
      Go Back
    </button>
  </div>

  <div class="content">
    <mat-card>
      <form  (ngSubmit)="onSubmit()">
        <h1 style="text-transform: capitalize;">{{toolName}} Info</h1>

        <div class="section-row">
          <h3>BASIC INFO</h3>

          <div class="row">
            <div class="item">
              <div class="label-value" >
                <p class="label">Name</p>
                <p>{{data?.name}}</p>
              </div>
            </div>
            <div class="item">
              <div class="label-value">
                <p class="label">Genre</p>
                <p>{{data?.genre}}</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="item">
              <div class="label-value">
                <p class="label">Location</p>
                <p>{{data?.location}}</p>
              </div>
            </div>
            <div class="item">
              <div class="label-value">
                <p class="label">description</p>
                <p>{{data?.description}}</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="item bio">
              <div class="label-value">
                <p class="label">Bio</p>
                <p>{{data?.bio}}</p>
              </div>
            </div>
          </div>
        </div>


        <div class="section-row">
          <h3>Imagery</h3>
          <div class="row">
            <div class="item">
              <div class="label-value">
                <p class="label">Profile Image</p>
                <img *ngIf="data?.profile_image" src="{{ data?.profile_image_img }}" width="120" />
                <img *ngIf="!data?.profile_image" src="./assets/images/intrologo.png" width="120" />
              </div>
            </div>

            <div class="item">
              <div class="label-value">
                <p class="label">Profile Banner Image</p>
                <img *ngIf="data?.profile_banner_image" src="{{ data?.profile_banner_image_img }}" width="120" />
                <img *ngIf="!data?.profile_banner_image" src="./assets/images/intrologo.png" width="120" />
              </div>
            </div>
          </div>
        </div>


        <div class="form-group button-group-center">
          <button class="dalmation " mat-raised-button color="accent" (click)="openDialog('Update')">
            Edit
          </button>
        </div>

        <!-- <div id="editBtn" class="material-icons" *ngIf="editing === 0" (click)="openDialog('Update')">
          edit
        </div>
        <div id="cancelBtn" class="material-icons" *ngIf="editing === 1" (click)="cancelEdit()">
          cancel
        </div> -->
      </form>
    </mat-card>
  </div>
</div>
</div>
