.itemBK {
  background-size: cover!important;
  background-attachment: fixed!important;
  background-repeat:no-repeat!important;
  background-position: 50% 50%!important;
  width:100%;
  height:calc(100% - 70px);
  margin-top: -70px;
  position:absolute;
  filter: blur(10px);
}

#newEditForm {
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;

  .content {
    position:relative;
    margin-top:25px;
    max-width: 1000px;
    width:100%;

    mat-card {
      margin: 0 auto;
    }

    mat-form-field {
      width: 100%;
    }
  }
}

.section-row {
  border-bottom: 1px solid rgb(214, 214, 214);
}
.row {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-group {
  margin-top:20px;
}

.headerTitle {
  text-transform: capitalize;
}


.goback {
  margin: 10px 0 20px 0;
}

.add-new{
  position:absolute;
  top:0px;
  right: 0px;
}

#editBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

#cancelBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

h3 {
  color: rgb(214, 214, 214);
  margin-top:50px;
}

.item {
  width: calc(50% - 20px);
  position: relative;
}
.bio {
  width:100%;
}

.label-value-img {
  margin: 27px 0;
  margin-top: -54px;
  display: flex;
  justify-content: center;
  margin-bottom: -60px;
  line-height: 24px;
}

.label-value {
  width: 100%;
  margin: 8px 0;
  line-height: 24px;
  position: relative;
  display: block;

  p {
    width: 100%;
  }
}

.label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.24);
  text-transform: capitalize;
}
