<div id="newEditForm" class="page">
  <div class="itemBK" [style.background]="'linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4) 100%), url(/assets/images/' + imageKey + '.jpg)'"></div>
    <div class="itemBKGrid"></div>

  <div class="glass" *ngIf="(MF.viewMode$ | async) === 'View'; else noLineView">
    <div class="goback page-top-cta">
      <button [routerLink]="['/projects', groupId, group]" id="goBack" mat-raised-button color="accent">
        Go Back
      </button>
    </div>

    <div class="mild-container">
      <h1 style="text-transform: capitalize;">{{toolName}}</h1>

      <div class="add-new">
        <button (click)="openDialog('Add',newRecord)" mat-raised-button color="primary">Add Row</button>
      </div>

      <div class="content masked-overflow">
        <!-- app.component.html -->
        <div class="container text-center">
          <div id="table">
            <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">
              <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">

                <ng-template #actionTemplate>
                  <ng-container matColumnDef="action">
                    <tr>
                      <th mat-header-cell *matHeaderCellDef style="flex-direction: row; justify-content: space-around;width:80px;">
                        <p class="headerTitle" style="text-align:center;">
                          <mat-label>Actions</mat-label>
                        </p>
                      </th>
                      <td mat-cell *matCellDef="let element" class="action-link" style="flex-direction: row; justify-content: space-around;width:80px;">
                        <ng-container *ngIf="element.id != 0; else noActionTemplate">


                          <button id="editBtn" class="material-icons" title='Edit' (click)="openDialog('Update',element)">
                            edit
                          </button>
                          <button id="cancelBtn" class="material-icons" title='Delete' (click)="openDialog('Delete',element)">
                            delete
                          </button>

                        </ng-container>
                        <ng-template #noActionTemplate>
                          Rendering...
                        </ng-template>
                      </td>
                    </tr>
                  </ng-container>
                </ng-template>


                <ng-container *ngIf="disCol != 'action'; else actionTemplate">
                  <tr>
                      <th mat-header-cell *matHeaderCellDef >
                        <p class="headerTitle" *ngIf="disCol != 'id' && disCol.indexOf('owner') === -1">
                          <mat-label [for]="disCol">
                                                  {{ disCol | removeUnderscore }}
                          </mat-label>
                        </p>
                      </th>
                      <td mat-cell *matCellDef="let element"  class="action-link">
                        <p *ngIf="disCol != 'id' && disCol.indexOf('owner') === -1 && element[disCol] != null">
                          {{ (element[disCol].length > 30) ? (element[disCol] | slice:0:30) + '...' : element[disCol] }}
                        </p>
                      </td>
                  </tr>
                </ng-container>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noLineView>
    <div class="view-container contacts-rollodex">
        <div class="goback page-top-cta">
            <button
                [routerLink]="['/projects', groupId, group]"
                id="goBack"
                mat-raised-button
                color="accent">
                Go Back
            </button>
        </div>

        <div class="rollodex-main">
            <!-- heading / intro -->
            <div class="rollodex-header-row">
                <div class="rollodex-title-block">
                    <h1>{{ toolName || 'Contacts' }}</h1>

                </div>

                <!-- toolbar pill -->
                <div class="rollodex-toolbar">
                    <div class="toolbar-search">
                        <mat-icon>search</mat-icon>
                        <input
                            matInput
                            type="text"
                            placeholder="Filter contacts..."
                            (input)="onRollodexFilterChange($event.target.value)" />
                    </div>

                    <div class="toolbar-divider"></div>

                    <div class="toolbar-right">
                      <div class="sort-wrap">
                          <span class="sort-label">Sort by</span>

                          <mat-form-field
                              appearance="fill"
                              class="mf-pill-select">

                              <mat-select
                                  [(ngModel)]="rollodexSortMode"
                                  (ngModelChange)="onRollodexSortChange($event)">

                                  <mat-option value="name">Name</mat-option>
                                  <mat-option value="relation">Skill</mat-option>
                                  <mat-option value="city">City</mat-option>
                              </mat-select>
                          </mat-form-field>

                          <button class="mf-sort-dir" (click)="toggleSortDirection()">
                              <span *ngIf="sortDirection === 'asc'">▲</span>
                              <span *ngIf="sortDirection === 'desc'">▼</span>
                          </button>
                      </div>
                  </div>

                  <button
                      mat-raised-button
                      color="primary"
                      class="add-contact-btn"
                      (click)="openDialog('Add', newRecord)">
                      Add Contact
                  </button>

                </div>
            </div>

            <!-- grid / empty state -->
            <div class="rollodex-body">
                <div class="alpha-nav" *ngIf="rollodexContacts?.length">
                    <div
                        *ngFor="let letter of alphabet"
                        class="alpha-letter"
                        [class.is-active]="letter === activeLetter"
                        (mouseenter)="onHoverLetter(letter)"
                        (mouseleave)="onHoverLetter(null)"
                        (click)="scrollToLetter(letter)">
                        {{ letter }}
                    </div>

                    <div class="alpha-floater" *ngIf="activeLetter">
                        {{ activeLetter }}
                    </div>
                </div>

                <!-- Long horizontal cards -->
                <div
                    class="rollodex-list"
                    *ngIf="rollodexContacts?.length; else emptyRollodex">

                    <div
                        class="rollodex-card mf-contact-card"
                        *ngFor="let contact of rollodexContacts"
                        [attr.data-letter]="getContactInitialLetter(contact)"
                        (click)="openDialog('Update', contact)">

                        <div
                            class="rollodex-avatar"
                            [ngClass]="{ 'has-image': !!contact.contact_image }"
                            [ngStyle]="contact.contact_image ? {'background-image': 'url(' + contact.contact_image + ')'} : null">
                            <span *ngIf="!contact.contact_image">
                                {{ getContactInitials(contact) }}
                            </span>
                        </div>

                        <div class="rollodex-info">
                            <div class="rollodex-name">
                                {{ getContactDisplayName(contact) }}
                            </div>

                            <div class="rollodex-meta line">
                                <span class="relation" *ngIf="contact.relation">
                                    {{ contact.relation }}
                                </span>
                                <span class="separator" *ngIf="contact.relation && contact.city">•</span>
                                <span class="city" *ngIf="contact.city">
                                    {{ contact.city }}
                                </span>
                            </div>

                            <div class="rollodex-meta line">
                                <span class="phone" *ngIf="contact.phone">
                                    {{ contact.phone }}
                                </span>
                                <span class="separator" *ngIf="contact.phone && contact.email">•</span>
                                <span class="email" *ngIf="contact.email">
                                    {{ contact.email }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <ng-template #emptyRollodex>
                    <div class="rollodex-empty">
                        <div class="empty-card glassy">
                            <div class="empty-icon">
                                <mat-icon>contact_mail</mat-icon>
                            </div>
                            <h2>No contacts yet</h2>
                            <p>
                                Save bands, venues, engineers, whoever matters for this project -
                                they'll show up here as a neat little deck of cards.
                            </p>
                            <button
                                mat-raised-button
                                color="primary"
                                (click)="openDialog('Add', newRecord)">
                                Add your first contact
                            </button>
                        </div>
                    </div>
                </ng-template>
            </div>

        </div>
    </div>
  </ng-template>


</div>
