<mat-card>
  <div>
    <img src="/assets/images/intrologo.png" width="250" />
    <h5>Thanks for Verifying, you will be redirected shortly...</h5>

    <div class="glass tna">
      <div class="content">
        <h1>Terms and Conditions</h1>
        <p>Welcome to MuseFactory!</p>
        <p>By using this platform, you agree to comply with and be bound by the following terms and conditions of use. Please review the following terms carefully. If you do not agree to these terms, you should not use this platform.</p>

        <h2>1. Privacy</h2>
        <p>We respect your privacy and are committed to protecting it. The information you provide us is used solely to manage your account and provide you with our services. We do not sell or distribute your information to third parties without your consent. </p>
        <!-- <p>For more information, please review our <a href="/privacy-policy">Privacy Policy</a>.</p> -->

        <h2>2. User Agreement</h2>
        <p>By using MuseFactory, you acknowledge that this platform is a basic tool to manage your work. While we strive to provide accurate and reliable services, we do not guarantee the completeness, accuracy, or reliability of any content available through the platform. You agree to use MuseFactory at your own risk.</p>

        <h2>3. Modifications</h2>
        <p>We reserve the right to modify these terms and conditions at any time. Your continued use of MuseFactory after any changes indicates your acceptance of the modified terms. It is your responsibility to review these terms periodically for updates.</p>

        <h2>4. Governing Law</h2>
        <p>These terms and conditions are governed by and construed in accordance with the laws of [Your Country], and you irrevocably submit to the exclusive jurisdiction of the courts in that location.</p>

        <p>If you have any questions or concerns about these terms and conditions, please contact us at support@musefactory.app.</p>

        <button class="dalmation" mat-raised-button color="primary" (click)="submitTNA()">
          Accept Terms
        </button>
      </div>
    </div>
  </div>
</mat-card>
