<!-- nav -->
<mat-toolbar color="primary">
  <img src="/assets/images/logo1.png" id="mainNavLogo" />

  <nav *ngIf="!currentUser; else loggedIn" class="navbar navbar-expand navbar-dark bg-dark"></nav>
  <ng-template #loggedIn>
    <nav class="navbar navbar-expand navbar-dark bg-dark desktop">
      <div class="navbar-nav">
        <!-- <a class="nav-item nav-link" routerLink="/">Home</a> -->
        <a class="nav-item nav-link icon material-symbols-outlined" routerLink="/projects" title='Projects'>artist</a>
        <a class="disabled nav-item nav-link icon material-icons" title='Notifications'>notifications</a>
        <a class="disabled nav-item nav-link icon material-icons" routerLink="/release-notes" title='Release Notes'>info</a>
        <a class="disabled nav-item nav-link icon material-icons" routerLink="/help" title='Help'>help</a>
        <!-- <a class="nav-item nav-link" routerLink="/items">New/Edit</a> -->
        <a class="nav-item nav-link icon material-icons" (click)="logout()" title='Logout'>logout</a>

        <!-- <button id="create" class="material-icons" title='Create Project'>
          add
        </button> -->
      </div>
    </nav>

    <nav class="navbar2 navbar-expand navbar-dark bg-dark desktop">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/user/profile" title='Profile'>Profile</a>
        <!-- <p class="nav-item nav-link material-icons" title='Notifications'>notifications_unread</p> -->
        <p class="nav-divider">|||</p>
        <a class="nav-item nav-link " routerLink="/settings" title='Settings'>Settings</a>
      </div>
    </nav>



    <div class="navbar device">
      <div class="container nav-container">
          <input  (click)="change()" class="checkbox" type="checkbox" name="" id="" [checked]="!toggle" />
          <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
          </div>
      </div>
    </div>
    <div [ngClass]="{'': toggle, 'active': !toggle}" class="menu-items device">
      <!-- <a class="nav-item nav-link" routerLink="/" (click)="toggle = true"><p>Home</p></a> -->
      <a class="nav-item nav-link" routerLink="/projects" (click)="toggle = true"><p>Projects</p></a>
      <a class="disabled nav-item nav-link" (click)="toggle = true"><p>Notifications</p></a>
      <a class="disabled nav-item nav-link" routerLink="/release-notes" (click)="toggle = true"><p>Info</p></a>
      <a class="disabled nav-item nav-link" routerLink="/help" (click)="toggle = true"><p>Help</p></a>
      <a class="nav-item nav-link" (click)="logout()" ><p>Logout</p></a>
      <p class="nav-divider"><span>|||</span></p>
      <a class="nav-item nav-link" routerLink="/user/profile" (click)="toggle = true"><p>Profile</p></a>
      <a class="nav-item nav-link" routerLink="/settings" (click)="toggle = true"><p>Settings</p></a>
    </div>
  </ng-template>

</mat-toolbar>

<app-messenger *ngIf="this.currentUser" [toggle]="toggle"></app-messenger>
