ul {
  width: 50%;
  margin: 0 auto;
}

li {
  display:flex;
  flex-direction: row;

  p {
    min-width:250px;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align:right;
    font-size: 14px;
    color: #0000008a;
    margin-right: 15px;
  }

  div {
    min-width:250px;
    width:100%;
  }

}

@media (min-width:320px)  {
  ul {
    width: 100%;
    margin: 0 auto;
  }

  li {
    display:flex;
    flex-direction: column;

    p {
      min-width:inherit;
      width: 100%;
      display:flex;
      flex-direction: column;
      justify-content: center;
      text-align:left;
      font-size: 14px;
      color: #0000008a;
      margin-right: 15px;
    }

    div {
      min-width:inherit;
    }

  }
}

@media (min-width:801px)  {
  ul {
    width: 100%;
    margin: 0 auto;
  }

  li {
    display:flex;
    flex-direction: column;

    p {
      min-width:inherit;
      width: 100%;
      display:flex;
      flex-direction: column;
      justify-content: center;
      text-align:left;
      font-size: 14px;
      color: #0000008a;
      margin-right: 15px;
    }

    div {
      min-width:inherit;
      width:100%;
    }

  }
}

@media (min-width:1200px) {
  ul {
    width: 50%;
    margin: 0 auto;
  }

  li {
    display:flex;
    flex-direction: row;

    p {
      min-width:250px;
      width: 100%;
      display:flex;
      flex-direction: column;
      justify-content: center;
      text-align:right;
      font-size: 14px;
      color: #0000008a;
      margin-right: 15px;
    }

    div {
      min-width:250px;
      width:100%;
    }

  }
}
// .content {
//   width:100%;
//   min-height:450px;
//   box-sizing: border-box;
// }

// #contact-form {
//   display: flex;
//   flex-direction: column;
// }

// textarea {
//   min-height: 200px;
// }


// mat-form-field {
//   width:100%;
//   margin-right: 3px;
// }
// .form-box {
//   display:flex;
//   justify-content: flex-start;
//   flex-wrap: wrap;
//   flex-basis: 20%;
//   margin-top:20px;
// }
// .form-box-horizontal {
//   display:flex;
//   justify-content: flex-start;
//   flex-direction: row;

//   mat-checkbox {
//     margin-right:40px;
//   }
// }
// .form-box-vertical {
//   display:flex;
//   flex-direction: column;
//   justify-content: space-between;
//   min-height: 100px;
//   margin-bottom: 10px;
//   line-height: 33px;

//   mat-radio-group {
//     display:flex;
//     justify-content: flex-start;

//     mat-radio-button {
//       margin-right:40px;
//     }
//   }
// }
// .mat-select {
//   margin: 20px 0 ;
//   max-width: 300px;
// }

// .submit {
//   display:flex;
//   justify-content: space-between;
//   width:200px;
// }

// .user-reqs{
//   width:100%;
//   display: block;
// }

// :host ::ng-deep .user-reqs .glass {
//   background:transparent!important;
//   box-shadow: none;
//   -moz-box-shadow: none;
//   -webkit-box-shadow: none;
//   backdrop-filter: none;
//   -moz-backdrop-filter: none;
//   -webkit-backdrop-filter: none;
// }

// table tr {
//   display: flex;
//   flex-direction: column;
//   min-width: 500px;

// }

// td {
//   width:100%;
// }

::ng-deep {

  .mat-form-field {
    width: 100%;
  }

  .mat-dialog-actions {
    justify-content: center;
  }
}
