
<div class="content mf-theme">
  <!-- dialog-box.component.html -->
  <h1><strong>{{action}} {{tool}}</strong></h1>
  <br/>

  <div *ngIf="action != 'Delete'; else elseTemplate">
    <ul>
      <li *ngFor="let row of displayedColumns">
        <ng-container *ngIf="row != 'active' && row != 'action' && row != 'id' && row != 'date_joined' && row.indexOf('owner') === -1">
          <ng-container
            [ngTemplateOutlet]="row.indexOf('image') === -1 ? normalTemplate : uploaderTemplate"
            [ngTemplateOutletContext]="{ $implicit: row }">
          </ng-container>
        </ng-container>
      </li>
      <li *ngIf="uploaderInstalled">
        <ng-container
            [ngTemplateOutlet]="uploaderTemplate"
            [ngTemplateOutletContext]="{ $implicit: 'title' }">
          </ng-container>
      </li>
    </ul>
  </div>
  <ng-template #elseTemplate>
    Are you sure?
  </ng-template>
  <ng-template #normalTemplate let-row>
    <p><span>{{row | removeUnderscore}}</span></p>
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="local_data[0][row]">
      </mat-form-field>
    </div>
  </ng-template>
  <ng-template #uploaderTemplate let-row>
    <p><span *ngIf="row != 'title'">{{row | removeUnderscore}}</span></p>
    <div>
      <!-- <mat-form-field>
        <input matInput [(ngModel)]="local_data[0][row]">
      </mat-form-field> -->
      <!-- <app-upload-multi [group]="local_data[0][id]"></app-upload-multi> -->
      <app-upload-single (fileNew)="updateUploadValue($event)" [field]="row" [file]="local_data[0][row]" [group]="currentGroup"></app-upload-single>
    </div>
  </ng-template>
    <!-- <table mat-table [dataSource]="local_data" #mytable class="my-table mat-elevation-z8">

      <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">
        <ng-container *ngIf="(disCol != 'id' && disCol != 'action'); else disabledTemplate">
          <th mat-header-cell *matHeaderCellDef> {{disCol}}</th>
          <td mat-cell *matCellDef="let element"  class="action-link">

            <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
              <input matInput [(ngModel)]="element[disCol]">
            </mat-form-field>

            <ng-template #elseTemplate>
              Sure to delete <b>{{element[disCol]}}</b>?
            </ng-template>
          </td>
        </ng-container>
        <ng-template #disabledTemplate>
          <th mat-header-cell *matHeaderCellDef> {{disCol}}</th>
          <td mat-cell *matCellDef="let element"  class="action-link">
            {{element[disCol]}}
          </td>
        </ng-template>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->

  <div mat-dialog-actions>
    <button (click)="doAction()" mat-raised-button color="primary">{{action}}</button>
    <button (click)="closeDialog()" mat-raised-button color="warn">Cancel</button>

  </div>
</div>
