
<div class="content mf-theme">
  <!-- dialog-box.component.html -->
  <h1><strong>{{action}} {{tool}}</strong></h1>
  <br/>

  <div *ngIf="action != 'Delete'; else elseTemplate">
    <ul>
      <li *ngFor="let row of displayedColumns">
        <ng-container *ngIf="row != 'active' && row != 'action' && row != 'id' && row != 'date_joined' && row.indexOf('owner') === -1">
          <ng-container
            [ngTemplateOutlet]="row.indexOf('image') === -1 ? normalTemplate : uploaderTemplate"
            [ngTemplateOutletContext]="{ $implicit: row }">
          </ng-container>
        </ng-container>
      </li>
      <li *ngIf="uploaderInstalled">
        <ng-container
            [ngTemplateOutlet]="uploaderTemplate"
            [ngTemplateOutletContext]="{ $implicit: 'title' }">
          </ng-container>
      </li>
    </ul>
  </div>
  <ng-template #elseTemplate>
    Are you sure?
  </ng-template>
  <ng-template #normalTemplate let-row>
    <p><span>{{row | removeUnderscore}}</span></p>
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="local_data[0][row]">
      </mat-form-field>
    </div>
  </ng-template>
  <ng-template #uploaderTemplate let-row>
    <p><span *ngIf="row != 'title'">{{row | removeUnderscore}}</span></p>
    <div>
      <app-upload-single (fileNew)="updateUploadValue($event)" [field]="row" [file]="local_data[0][row]" [group]="currentGroup"></app-upload-single>
    </div>
  </ng-template>

  <div mat-dialog-actions>
    <button (click)="doAction()" mat-raised-button color="primary">{{action}}</button>
    <button (click)="closeDialog()" mat-raised-button color="warn">Cancel</button>

  </div>
</div>
