<div id="newEdit" class="page">
  <div class="itemBKGrid"></div>




  <div id="profilePage" style="perspective: 2px;">

    <div id="large-container">
      <div class="glass topbanner" >
        <div class="topbannerImg" *ngIf="artistInfo[0]?.profile_image" [ngStyle]="{background: 'linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%), url('+artistInfo[0]?.profile_banner_image+') center 50% / 36% no-repeat'}"></div>
        <div class="topbannerImg" *ngIf="!artistInfo[0]?.profile_image" [ngStyle]="{background: 'url(./assets/images/logo1.png)'}"></div>
        <div class="sidebyside" style="bottom: -12px;left: 0px;width: 100%;    position: relative;">
          <div class="imgBox iconboximg">
            <img *ngIf="artistInfo[0]?.profile_image" src="{{ artistInfo[0]?.profile_image }}" width="120" />
            <img *ngIf="!artistInfo[0]?.profile_image" src="./assets/images/intrologo.png" width="120" />
          </div>
          <div class="content topcontent desktop">
            <h1>{{ artistInfo[0]?.name }}</h1>
            <p>{{ artistInfo[0]?.profile_url }}</p>
            <p>{{ artistInfo[0]?.genre }}</p>
          </div>
        </div>
      </div>

      <div class="glass infopanel">
        <div class="content" style="height: 100%;">
          <div class="content device">
            <h1>{{ artistInfo[0]?.name }}</h1>
            <p>{{ artistInfo[0]?.profile_url }}</p>
            <p>{{ artistInfo[0]?.genre }}</p>
            <br/><br/>
          </div>
          <ul>
            <li *ngFor="let row of artistInfoKeys">
              <ng-container *ngIf="row != 'profile_url' && row != 'name' && row != 'genre' && row != 'profile_banner_image' && row != 'profile_image' && row != 'artist_image_1' && row != 'artist_image_2' && row != 'artist_image_3'">
                <ng-container
                  [ngTemplateOutlet]="row.indexOf('image') === -1 ? normalTemplate : uploaderTemplate"
                  [ngTemplateOutletContext]="{ $implicit: row }">
                </ng-container>
              </ng-container>
            </li>
          </ul>

          <!-- <ul class="flex row lowerimages">
            <li *ngFor="let row of artistInfoKeys">
              <ng-container *ngIf="row == 'artist_image_1' || row == 'artist_image_2' || row == 'artist_image_3'">
                <div class="imgBox">
                  <img src="{{ artistInfo[0]?.[row] }}" style="width:100%;" />
                </div>
              </ng-container>
            </li>
          </ul> -->
        </div>
      </div>

      <ng-template #normalTemplate let-row>
        <div class="sidebyside">
          <h3>{{ row | removeUnderscore }}:</h3>
          <p>{{ artistInfo[0][row] }}</p>
        </div>
      </ng-template>

      <ng-template #uploaderTemplate let-row>
        <p><span *ngIf="row != 'title'">{{row | removeUnderscore}}</span></p>
        <div class="imgBox">
          <img src="{{ artistInfo[0]?.[row] }}" width="60px" />
        </div>
      </ng-template>
    </div>

    <div class="glass controlpanel">
      <div class="content" id="cards" (mousemove)="cardShine($event)">
        <h2>The Feature tools are being built at the moment.<br/><br/> Check back as they will be released one by one.</h2>
        <!-- <div class="card" #card *ngFor="let tool of tools" [routerLink]="['/projects/new-edit/', groupId, group, tool.value ]">
          <div class="card-content">
            <div class="item" [ngStyle]="{background: 'linear-gradient(to bottom, rgba(0,0,0, 0.3) 0%, rgba(0,0,0, 1) 70%), url(./assets/images/'+ (tool.name.replace(' ', '_') | capitalizeWord) + '.jpg) 50% 50% / 100% no-repeat'}"></div>
            <div class="card-image">
              <i class="fa-duotone fa-apartment"></i>
            </div>
            <div class="card-info-wrapper">
              <div class="card-info">
                <i class="fa-duotone fa-apartment"></i>
                <div class="card-info-title">
                  <h4>{{tool.name}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div> -->

      </div>
    </div>
  </div>

</div>


<!-- <div id="newEdit" class="page">
    <ul class="page-top-cta glass">
      <li *ngFor="let tool of tools" [routerLink]="['/items/new-edit/', tool.value ]">
        <div class="itemBk"></div>
        <div class="item" [ngStyle]="{background: 'url(./assets/images/' + (tool.name.replace(' ', '_') | capitalizeWord) + '.jpg)'}"></div>
        <h4>{{tool.name}}</h4>
      </li>
    </ul>
</div> -->


