#newEdit {
  background-image: url("/assets/images/w1.png");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
}

.page-top-cta {
  flex-direction: column;
}

li {
  margin: 10px 0;
  margin-left:0px;
}

li:hover {
  margin-left:5px;
}

button {
  cursor: pointer;
  min-width:200px;
}
