.flex {
  display:flex;
}

.row {
  flex-direction:row;
}

h5 {
    font-size: 12px;
    margin:12px 0;
}
h4 {
  font-size: 15px;
  margin:12px 0;
}
h3 {
  font-size: 0.8em;
  font-weight: 700;
  font-family: 'Thin_lc';
  letter-spacing: 2px;
  text-transform: lowercase;
  line-height: initial;
}
p {
  font-size: 12px;
  margin:0 0 5px 0;
  line-height: initial;
}

li{
  margin:12px 0;
}

.controlpanel {
  box-shadow: none;
}

@media (min-width:320px)  {
  .device { display: block; }
  .desktop { display: none; }

  .itemBKGrid {
    position:fixed;
  }

  #profilePage {
    width:100%;
  }

  #newEdit {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%), url("/assets/images/w1.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 120px 0px 40px!important;
    box-sizing: border-box;

    .content {
      position:relative;

      .container {
        overflow-x: auto;
      }
    }
  }

  .iconboximg{
    width: 120px;
    position: relative;
    margin-top: 150px!important;
    border: 5px solid #646464;
    height: 120px;
    border-radius: 25px!important;
    margin-left:0px!important;
    background-color:#000;

    img {
      height: 120px;
      width: 120px;
    }
  }

  .topbanner {
    width:100%;
    margin-bottom:10px;
    background-size:cover;
    height: 300px;
    background-size: 130%!important;
    margin-top: -62px;
    border-bottom: 5px solid #646464;
    position: relative;
    transform-style: preserve-3d;
  }

  // .topbanner::after {
  //   content: " ";
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   transform: translateZ(-1px) scale(1.5);
  //   background-size: 100%;
  //   z-index: -1;
  // }
  .topbannerImg {
    border: none;
    margin: 0;
    margin-top: -20px;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-size: cover!important;
  }

  #profilePage{
    display:flex;
    flex-direction: column;

  }

  .infopanel {
    position: relative;
    margin: 0;
    width: 100%;
    margin-right: 10px;
    max-height: 500px;
    height: auto;
    min-height: 0px;
    background: none;
    box-shadow: none;
    padding: 20px;
    box-sizing: border-box;
    backdrop-filter: none;
  }

  .controlpanel {
    position: relative;
    width: calc(100% - 0px);
    margin: 20px auto;
    background: none;
    backdrop-filter: none;
  }

  .lowerimages {
    margin-top:25px;
    margin-bottom:50px;
  }

  .imgBox {
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
  }

  #cards {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    // max-width: 1000px;
    // min-width:50vw;
    width: calc(100% - 0px);
  }

  #cards:hover > .card::after {
    opacity: 1;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    // height: 260px;
    height:140px;
    flex-direction: column;
    position: relative;
    width: calc(100% / 1 - 3px);
    overflow: hidden;
  }

  .card:hover::before {
    opacity: 1;
  }

  .card::before,
  .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }

  .card::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%
    );
    z-index: 3;
  }

  .card::after {
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.4),
      transparent 40%
    );
    z-index: 1;
  }

  .card > .card-content {
    background-color: rgb(5, 5, 5);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
  }

  .item {
    position:Absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-size: 100%!important;
    opacity:0.1;
    transition: all 500ms ease-in-out;
  }

  .card:hover .item {
    opacity:.5;
    background-size: 120%!important;
    transition: all 500ms ease-in-out;
  }

  .card-info {
    position: absolute;
    bottom: -5px;
    opacity:0.4;
    transition: all 500ms ease-in-out;
    overflow:hidden;
  }

  .card:hover .card-info {
    position: absolute;
    bottom: 5px;
    opacity:1;
    transition: all 500ms ease-in-out;
  }
}
@media (min-width:801px)  {
  .device { display: none; }
  .desktop { display: block; }

  #profilePage {
    width:100%;
  }
  .topcontent {
    position: absolute!important;
    top: 0px;
    left: 140px;
  }

  .topbannerImg {
    background-position: 50% 35% !important;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    // height: 260px;
    height:140px;
    flex-direction: column;
    position: relative;
    width: calc(100% / 2 - 3px);
    overflow: hidden;
  }

  .controlpanel {
    position: relative;
    width: calc(100% - 0px);
    margin: 20px auto;
    background: none;
    backdrop-filter: none;
  }
}
@media (min-width:1200px) {
  .device { display: none; }
  .desktop { display: block; }
  #newEdit {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%), url("/assets/images/w1.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;

    .content {
      position:relative;

      .container {
        overflow-x: auto;
      }
    }
  }

  .topbanner {
    width:100%;
    margin-bottom:10px;
    background-size:cover;
    position: relative;
    transform-style: preserve-3d;
  }
  // .topbanner::after {
  //   content: " ";
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   transform: translateZ(-1px) scale(1.5);
  //   background-size: 100%;
  //   z-index: -1;
  //   box-sizing: border-box;
  //   width: calc(100% - 70px);
  // }
  .topbannerImg {
    border: none;
    margin: 0;
    margin-top: -20px;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-size: cover!important;
  }

  .topcontent {
    position: absolute!important;
    bottom: 20px;
    left: 130px;
    top:auto;
    width: auto;
  }

  .infopanel {
    position: relative;
    margin: 0;
    width: 100%;
    margin-right: 10px;
    max-height: 500px;
    height: auto;
    min-height: 0px;
  }

  .lowerimages{
    position:absolute;
    bottom:0px;
  }

  #profilePage{
    display:flex;
    flex-direction: row;
    width: calc(100% - 80px);
    max-width:1600px;
    justify-content: space-between;
  }

  .imgBox {
    margin-left: -5px;
    margin-bottom: -6px;
    border-bottom-left-radius: 16px;
    overflow: hidden;
  }

  #large-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 20px;
  }

  .content {
    min-width: 49%;

    h1 {
      margin-left:8px;
    }
  }

  .sidebyside {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;

    p{
      margin-left:10px;
    }
  }

  .controlpanel {
    position: relative;
    margin: 0;
    width: 50%;
    margin-top: 0px;
    background: none;
    backdrop-filter: none;
    padding: 0;
  }

  #cards {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    // max-width: 1000px;
    // min-width:50vw;
    width: calc(100% - 0px);
  }

  #cards:hover > .card::after {
    opacity: 1;
  }

  .card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    // height: 260px;
    height:140px;
    flex-direction: column;
    position: relative;
    width: calc(100% / 4 - 3px);
    overflow: hidden;
  }

  .card:hover::before {
    opacity: 1;
  }

  .card::before,
  .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }

  .card::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%
    );
    z-index: 3;
  }

  .card::after {
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.4),
      transparent 40%
    );
    z-index: 1;
  }

  .card > .card-content {
    background-color: rgb(5, 5, 5);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
  }

  .item {
    position:Absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-size: 180%!important;
    opacity:0.1;
    transition: all 500ms ease-in-out;
  }

  .card:hover .item {
    opacity:.5;
    background-size: 210%!important;
    transition: all 500ms ease-in-out;
  }

  .card-info {
    position: absolute;
    bottom: -5px;
    opacity:0.4;
    transition: all 500ms ease-in-out;
    overflow:hidden;
  }

  .card:hover .card-info {
    position: absolute;
    bottom: 5px;
    opacity:1;
    transition: all 500ms ease-in-out;
  }

}

#recent-items li {
  list-style-type: disclosure-closed;
}
#recent-items h4 {
  margin-left:-17px;
}
.recentItem{
  font-family: "Thin_lc";
  color:#fff;
}

:host ::ng-deep .recentItem b {
  font-family: "Bold_lc"!important;
}


// .page {
//   padding:0;
// }

// #newEdit {
//   background-image: url("/assets/images/w1.jpg");
//   background-size: cover;
//   background-attachment: fixed;
//   width: 100%;
//   height: 100%;
//   color: #fff;
//   display: flex;
//   justify-content: center;
// }

// .page-top-cta {
//   // flex-direction: column;
// }
// ul {
//   display:flex;
//   flex-direction: row;
//   justify-content: flex-start;
//   height: calc(100vh - 10px);
//   position: relative;
//   max-width: 100%;
//   top: 10px;
//   padding: 0;
// }

// li {
//   margin: 10px 0;
//   margin-left:0px;
//   position: relative;
//   box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
//   // transform: skewX(-8deg);
//   transform-origin: bottom;
//   z-index: 1;

//   .item, .itemBk {
//     transition: all .6s ease-in-out;
//     width:120px;
//     height:100%;
//     // border:1px solid #000;
//     cursor: pointer;
//     position: relative;
//     background-size:cover!important;
//     background-position:50% 50%!important;
//     filter: blur(3px);
//     overflow:hidden;
//     transform-origin: bottom;
//     // transform: skewX(-4deg);
//     opacity: 0.3;
//     display:grid;
//   }
//   .item{
//     box-shadow: inset 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
//   }
//   .itemBk {
//     width:100%;
//     position: absolute;
//   }

//   h4 {
//     cursor: pointer;
//     width: 100%;
//     height: 50px;
//     position: absolute;
//     bottom: calc(50% - 50px);
//     text-align: center;
//     margin: 0 auto;
//     right: 60px;
//     width:auto;
//     opacity:0;
//     filter: blur(5px);
//     transition: all .7s ease-in-out;
//     background-color: #000;
//     z-index: 10;
//     line-height: 50px;
//     padding: 0 20px;
//     transform: skewX(-8deg);
//     letter-spacing:1px;
//     overflow:hidden;
//   }
// }

// li:hover {
//   z-index: 999;
//   box-shadow: inset 0px 0px 45px 45px rgba(0, 0, 0, 0.8);

//   .item {
//     box-shadow: inset 0px 0px 12px 5px rgba(0, 0, 0, 0.3);
//     transition: all .6s ease-in-out;
//     width:370px;
//     filter: blur(0px);
//     opacity: 1;
//   }

//   h4{
//     opacity:1;
//     right: -40px;
//     filter: blur(0px);
//     transition: all .9s ease-in-out;
//   }
//   // margin-left:5px;
// }

// .itemBk:after {
//   content:"";
//   background-color:#000;
//   // background-image: linear-gradient(180deg, #234dbc, #b84295);
//   // border-radius: inherit;
//   // transform: skewY(0deg);
//   // transform-origin: bottom left;
//   // background-size: 200% 200%;
//   // animation: Animation 5s ease infinite;
//   // z-index:0;
// }


// @keyframes Animation {
//   // 50% {
//   //   background-position: 90% 100%
//   // }
// }
