.itemBK {
  background-size: cover!important;
  background-attachment: fixed!important;
  background-repeat:no-repeat!important;
  background-position: 50% 50%!important;
  width:100%;
  height:calc(100% - 70px);
  margin-top: -70px;
  position:absolute;
  filter: blur(10px);
}

// .itemBKGrid {
//   background-attachment: fixed!important;
//   background-image: url('/assets/images/grid.png') !important;
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   top: 0px;
// }

#newEditForm {
  // background-image: url("/assets/images/w2.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;

  .content {
    position:relative;
    margin-top:25px;

    .container {
      overflow-x: auto;
    }
  }

  .masked-overflow {
    /* scroll bar width, for use in mask calculations */
    --scrollbar-width: 0px;

    /* mask fade distance, for use in mask calculations */
    --mask-height: 60px;

    /* If content exceeds height of container, overflow! */
    overflow-x: auto;

    /* Our height limit */
    // height: 300px;

    /* Need to make sure container has bottom space,
  otherwise content at the bottom is always faded out */
    // padding-bottom: var(--mask-height);

    /* Keep some space between content and scrollbar */
    padding-right: 0px;

    /* The CSS mask */

    /* The content mask is a linear gradient from top to bottom */
    --mask-image-content: linear-gradient(
        to right,
        transparent,
        black 0,
        black calc(100% - var(--mask-height)),
        transparent
    );

    /* Here we scale the content gradient to the width of the container
  minus the scrollbar width. The height is the full container height */
    --mask-size-content: calc(100% - 0px) 100%;

    /* The scrollbar mask is a black pixel */
    --mask-image-scrollbar: linear-gradient(black, black);

    /* The width of our black pixel is the width of the scrollbar.
  The height is the full container height */
    --mask-size-scrollbar: 0px 100%;

    /* Apply the mask image and mask size variables */
    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

    /* Position the content gradient in the top left, and the
  scroll gradient in the top right */
    mask-position: 0 0, 100% 0;

    /* We don't repeat our mask images */
    mask-repeat: no-repeat, no-repeat;
}

}

tr,th,td {
  width: 100%;
  position: relative;
}
th p,td p {
  padding:6px 10px;
}
th p {
  line-height:56px;
}
#table {
  min-width:1200px;
  position:relative;
}
table {
  white-space: nowrap;
  width: -webkit-fill-available;
}

tr, th, td {
  min-width:100%;
  width: auto;
}

th {
  background-color:#5e5e5e;
}

th p *{
  color:#fff;
}

th:first-child, td:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}

tr:nth-child(odd) {
  background-color:#fff;
}
tr:nth-child(even) {
  background-color:#ececec;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding: 7px 24px;
  border-bottom-color: transparent;
  border:none;
}
th.mat-header-cell:nth-of-type(2), td.mat-cell:nth-of-type(2), td.mat-footer-cell:nth-of-type(2) {
  padding-left:20px;
}

th.mat-header-cell:first-of-type:after, td.mat-cell:first-of-type:after {
  content: "";
  position: absolute;
  z-index: 1;
  right: -12px;
  top: 0;
  pointer-events: none;
  background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(12, 12, 12, 0.3) 90%);
  width: 12px;
  height: 100%;
  min-height:2em;
}

td.mat-cell:first-of-type {
  width:auto;
  height: 34px;
}

tr:nth-child(odd) td.mat-cell:first-of-type {
  background-color:#fff;
}
tr:nth-child(even) td.mat-cell:first-of-type {
  background-color:#ececec;
}


.headerTitle {
  text-transform: capitalize;
}



.masked-overflow {
  scrollbar-width: thin; /* can also be normal, or none, to not render scrollbar */
  scrollbar-color: transparent; /* foreground background */
}

/* Webkit / Blink */
.masked-overflow::-webkit-scrollbar {
  width: 8px;
}

.masked-overflow::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 9999px; /* always round */
}

.masked-overflow::-webkit-scrollbar-track {
  background-color: transparent;
}


.material-icons {
  cursor:pointer;
}

.goback {
  margin: 10px 0 50px 0;
}

.add-new{
  position:absolute;
  top:0px;
  right: 0px;
}

.mild-container {
  position:relative;
}
