/*@import "components/hamburger";
@import "components/section-page";
@import "components/card";
@import "components/button";
@import "components/scroll-bar";
@import "components/form-field";
@import "components/dialog";
@import "components/table";*/

@mixin custom-component($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  * {
    // firefox scrollbar color
    scrollbar-color: mat-color($primary, lighter) rgba(0, 0, 0, 0.1);
  }

  &.primary-text {
    color: mat-color($foreground, text);
  }

  .secondary-text {
    color: mat-color($foreground, secondary-text);
  }

  &.bg-card {
    background: mat-color($background, "card");
  }

  .bg-primary {
    background-color: mat-color($primary) !important;
  }

  .bg-accent {
    background-color: mat-color($primary, darker) !important;
  }

  .mat-elevation-primary {
    @include mat-elevation(2, mat-color($primary, darker), 1);
  }

  &.page-wrapper {
    color: mat-color($foreground, text);
  }

  #user-header {
    border-bottom: 2px solid mat-color($primary, darker);
  }

  #proj-nav h2 {
    color: mat-color($primary);
  }

  #main-nav {
    a {
      color: white;
      &.mat-accent {
        color: mat-color($accent);
      }
    }
  }

  .table th,
  .table tr:before {
    background-color: mat-color($primary);
  }
  td.highlightedDate {
    background: mat-color($accent, lighter);
    border-radius: 100%;
  }
  .theme-color {
    background: mat-color($primary, lighter);
    color: black;
  }
  .theme-color-parent {
    background: mat-color($primary, darker);
    color: white;
  }

  .mat-horizontal-stepper-header-container {
    background: mat-color($background, "card");
  }

  .project-tab:hover {
    background-color: mat-color($background, "card");
  }

  button.mat-raised-button.mat-accent,
  button.mat-mini-fab.mat-accent {
    color: white !important;
  }

  .mat-expansion-panel {
    border-radius: 0;
    margin-top: 5px;
    .mat-expansion-panel-body {
      padding: 5px;
    }
  }

  .mat-card {
    border-radius: 0;
  }

  .help-email a path {
    fill: mat-color($primary);
  }
  .help-email a:hover {
    path {
      fill: mat-color($primary, darker);
    }
  }

  // SCROLL BAR
  ::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: mat-color($primary, lighter);
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: mat-color($primary);
  }
  // SCROLL BAR END

  //@include custom-hamburger(white);
  //@include custom-flat-card(black, mat-color($primary, lighter));
  //@include custom-table($foreground, $background);
}

.spacer {
  flex: 1 1 auto;
}

.page {
  min-height: calc(100vh - 0px);
  padding: 100px 0px 40px;
  box-sizing: border-box;
  position:relative;
}

@media only screen and (max-width:801px)  {
  .page {
    min-height: calc(100vh - 0px);
    padding: 80px 0px 40px!important;
    box-sizing: border-box;
    position:relative;
  }
}

#singleComponent {
  display: flex;
  justify-content: center;
}

.button-group-center {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.glass {
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 300px;
  max-width: 1200px;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.2)
  );
  padding: 20px;
  backdrop-filter: blur(0.2rem);
  -moz-backdrop-filter: blur(0.2rem);
  min-height: 200px;
  border-radius: 16px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  height: fit-content;
  width: fit-content;
}

.glassSolid {
  background-color: #151515;
  padding: 20px;
  height: auto;
  width: 100%;
  min-height: 200px;
  border-radius: 16px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  z-index:5;
}
.itemBKGrid {
  background-attachment: fixed!important;
  background-image: url('/assets/images/grid.png') !important;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  opacity:0.3;
}

.sub-page {
  min-width: 300px;
  width: 100%;
  max-width: 1200px;
  margin:0 auto;
}

.cdk-overlay-dark-backdrop  {
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)
  );
  backdrop-filter: blur(0.2rem);
  -moz-backdrop-filter: blur(0.2rem);
}


button.mat-primary {
  border-radius:12px;
  border: 2px solid #fff;
  color:#000!important;
  background-color:#fff!important;
  transition: all .3s ease-in-out;
}
button.mat-primary:hover {
  background-color:#bfbfbf!important;
  transition: all .4s ease-in-out;
}
.mat-dialog-container button.mat-primary, button.dalmation.mat-primary{
  border-radius:12px;
  border: 2px solid #000;
  color:#fff!important;
  background-color:#000!important;
  transition: all .3s ease-in-out;
}
.mat-dialog-container button.mat-primary:hover, button.dalmation.mat-primary:hover {
  background-color:#373737!important;
  transition: all .4s ease-in-out;
}

button.mat-accent {
  border-radius:12px;
  border: 2px solid #fff;
  color:#fff!important;
  background-color:transparent!important;
  transition: all .3s ease-in-out;
}
button.mat-accent:hover {
  background-color:rgba(191, 191, 191, .3)!important;
  transition: all .4s ease-in-out;
}
.mat-dialog-container button.mat-accent, button.dalmation.mat-accent {
  border-radius:12px;
  border: 2px solid #000;
  background-color:#fff!important;
  color: #000 !important;
  transition: all .3s ease-in-out;
}
.mat-dialog-container button.mat-accent:hover, button.dalmation.mat-accent:hover {
  background-color:#e0e0e0!important;
  transition: all .4s ease-in-out;
}


