@import "@angular/material/theming";
@import "./component";

@mixin light-dark-theme($primary, $accent, $warn) {
  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);
  @include custom-theme($theme);

  &.dark {
    $theme: mat-dark-theme($primary, $accent, $warn);
    @include angular-material-theme($theme);
    @include custom-theme($theme);
  }
}

@mixin custom-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  //@include custom-component($theme);
}

// @import 'themes/default';
@import "theme/muse";

@import "./custom";
